<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Getting Started with Open Source | ACM</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body class="w-full">
    <main>
      <div class="content">
        {% include "partials/nav.html" %}
        <h1 class="intro">
          Getting Started with Open Source<span class="text-blue-500">.</span>
        </h1>
        <article
          class="prose prose-invert lg:prose-xl mt-8 md:mt-16 max-w-none"
        >
          {% markdown %}{% include "partials/home_content.md" %} {% endmarkdown
          %}
        </article>
      </div>
    </main>
  </body>
</html>
